body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTES4za-3QWzJPjxX2KUfLkWjBnp-xG2GFGoQ&usqp=CAU");
  background-color:white ;
}

#splash_title {
	width: 100%;
  font-size: 100px;
  color:rgb(255, 0, 149);
  opacity: 0.85;
  text-shadow: 4px 4px 4px rgba(255, 255, 255);
  text-align: center;
}

.menu_button {
	background-color: rgba(115, 15, 148, 0.5);
    font-size: 28px;
    color: white;
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.background_button {
    border-radius: 12px;
    padding: 16px 20px;
}
